.sidebar {
    position: fixed;
    top: 70PX;
    right: 0;
    width: 3rem;
    height: 12rem;
    padding: 1px 0px;
    background: rgb(0, 0, 0);
    margin: 1rem;
    /* display: flex; */
    border-radius: 50px;
    border: 2px solid rgb(255, 255, 255); /* Agrega un borde blanco de 2px */
    /* z-index: 1999; */
}

.sidebar .Home {
    margin: .3rem;
    padding: .3rem;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    /* background: red; */
    border-radius: 70px;
    color: rgb(255, 255, 255)
}

.sidebar .About-me {
    margin: .3rem;
    justify-content: center;
    display: flex;
    font-size: 3rem;
    background: blue;
}
/* fondo neon de sidebar */
.m2 {
    position: fixed;
    top: 66PX;
    right: -3px;
    width: 3.4rem;
    height: 12.4rem;
    padding: 1px 0px;
    background: #0011ff;
    margin: 1rem;
    /* display: flex; */
    border-radius: 50px;
    animation: colors 5s infinite;
    transform: translate(-50,-50);
}
/* end neon fondo */

/* @media (max-width: 800px) {
    .sidebar {
        position: fixed;
        top: 0PX;
        right: 0;
        width: 3rem;
        height: 3rem;
     
        background: rgb(26, 207, 243) !important;
        margin: 1rem;
    }

    .sidebar .Home {
        display: none;
    }


   
    .sidebar::before,
    .sidebar::after,
    .sidebar::nth-child(3) {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        height: 2px;
        width: 80%;
    }

    .sidebar::before {
        transform: translate(-50%, -50%) translateY(-8px);
    }

    .sidebar::after {
        transform: translate(-50%, -50%) translateY(8px);
    }

    .sidebar::nth-child(3) {
        transform: translate(-50%, -50%);
    }

} */

/* this just for backgourn rgb */
.m1 {
    background: #ff00d0;
    position: fixed;
    right: 0.6rem;
    margin: 0.3rem;
    padding: 1.6rem;
    top: 0.9rem !important;
    justify-content: center;
    display: flex;
    font-size: 1.9rem;
    border-radius: 50px;
    color: #ffffff;
    animation: colors 5s infinite;
    transform: translate(-50,-50);
}

.mode {
    background: #09232a !important;
    position: fixed;
    right: 1rem;
    margin: .3rem;
    padding: .3rem;
    top: 1.3rem !important;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    border-radius: 70px;
    border: 2px solid white; /* Agrega un borde blanco de 2px */
    color: #ffffff;
    z-index: 9999;
}

.modelight {
    background: #cd4781 !important;
    position: fixed;
    right: 1rem;
    margin: .3rem;
    padding: .3rem;
    top: 0 !important;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    border-radius: 70px;
    color: #ffffff;
    z-index: 9999;
}

/* this is an rgb */
/* 
a{
    position: fixed;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}


a:hover{
    
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
} 
a span{
    position: absolute;
    display: block;
} 


a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #008cff);
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #008cff);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;

}

a span:nth-child(2) {
    top: -100%;
    right: -0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #008cff);
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;

}

a span:nth-child(4) {
    bottom: -100%;
    left: -0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #008cff);
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;

}
   */


   /* SEGUNDO SIDEBAR */
.sidedos{
    position: fixed;
    /* background: #ff00d0; */
    display: flex;
    padding: 2rem;
    top: 0;
    right: 0rem;  
    padding-right: 6rem; 
    z-index: 1999;
}

.sidedos .linksto{
    margin: 1rem;
    /* background: #0011ff; */
    color: #ffffff;
    font-size: inherit;
    text-shadow: 0 0 8px  #ffffff;
    text-decoration: none;

    font-family: 'Pixelify Sans', cursive;
}
.sidedos .linksto:hover{
    color: #f90bd1;
    animation: colors 5s infinite;
    transform: translate(-50,-50);
    border-radius: 10px;
    /* margin: 1rem; */
    height: 1rem;
}


/* aaa */


/* 

.right-part  {
        --left-right-margin: 240px;
        --left-right-internal-margin: 24px;
        --top-margin: 240px;
        --top-margin-mobile: 40vh;
        --top-internal-margin: 24px;
        --border-radius: 48px;
        --border: 2px;
        --border-radius-content: 0;
        --background-color: #f3f2f9;
        --color: #606887;
        --innerVh: 5.71px;
        color: var(--color);
        font-family: studiofeixen-variable,studiofeixen,Arial,Helvetica,sans-serif;
        letter-spacing: -.015em;
        -webkit-font-smoothing: antialiased;
        font-variation-settings: "wght" 500,"wdth" 100;
        font-weight: unset;
        font-size: 1em;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        pointer-events: auto;
        flex-direction: row;
        align-items: center;
        z-index: inherit;
        display: flex;
        transform: none;
       
      }
    
      .right-part .language-switch{
        --left-right-margin: 240px;
        --left-right-internal-margin: 24px;
        --top-margin: 240px;
        --top-margin-mobile: 40vh;
        --top-internal-margin: 24px;
        --border-radius: 48px;
        --border: 2px;
        --border-radius-content: 0;
        --background-color: #f3f2f9;
        --color: #606887;
        --innerVh: 5.71px;
        color: var(--color);
        font-family: studiofeixen-variable,studiofeixen,Arial,Helvetica,sans-serif;
        letter-spacing: -.015em;
        -webkit-font-smoothing: antialiased;
        font-variation-settings: "wght" 500,"wdth" 100;
        font-weight: unset;
        pointer-events: auto;
        list-style: none;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 1.25rem;
        line-height: 0;
        margin-left: 24px;
        display: block;
        transform: none;
      }
      .right-part .theme-switch{
        --left-right-margin: 240px;
        --left-right-internal-margin: 24px;
        --top-margin: 240px;
        --top-margin-mobile: 40vh;
        --top-internal-margin: 24px;
        --border-radius: 48px;
        --border: 2px;
        --border-radius-content: 0;
        --background-color: #f3f2f9;
        --color: #606887;
        --innerVh: 5.71px;
        color: var(--color);
        font-family: studiofeixen-variable,studiofeixen,Arial,Helvetica,sans-serif;
        letter-spacing: -.015em;
        -webkit-font-smoothing: antialiased;
        font-variation-settings: "wght" 500,"wdth" 100;
        font-weight: unset;
        pointer-events: auto;
        list-style: none;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 1.25rem;
        line-height: 0;
        margin-left: 24px;
        cursor: pointer;
        display: block;
        transform: none;
      }
      .hamburger-btn {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 1rem;
        color: #606887;
        font: inherit;
        font-variation-settings: "wght" 800,"wdth" 125;
        padding: 0;
    }
    
    
    
    .right-part .icons-style {
        opacity: 1;
        fill: none;
        stroke: #ffffff;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        display: block;
        transition: transform 0.3s ease; 

        &:hover {
         
          &:nth-child(1) {
            transform: translate(100px) rotate(360deg);
          }
      
          &:nth-child(2) {
            transform: translate(100px) rotate(360deg);
          }
      
        }
      } */


      .language{
        display: flex;
        left: 0;
        position: fixed;
        background: rgb(151, 51, 51);
        color: white;
        margin: 21px;
        width: 3rem;
        height: 3rem;
        justify-content: center;
        border-radius: 20px;
      }

      .mode2 {
        background: #09232a !important;
        position: fixed;
        left: 7px;
        /* margin: 0.3rem; */
        padding: 0.3rem;
        top: 8px;
        justify-content: center;
        display: flex;
        font-size: 19px;
        border-radius: 70px;
        border: 2px solid white;
        color: #ffffff;
        z-index: 9999;
    }

    .m2{
        background: #ff00d0;
        position: fixed;
        left: -11px;
        /* margin: 0.3rem; */
        padding: 1.44rem;
        top: -10px;
        justify-content: center;
        display: flex;
        font-size: 10px;
        border-radius: 70px;
        color: #ffffff;
        z-index: 9999;
        animation: colors 5s infinite;
        transform: translate(-50,-50);
        max-height: 43px !important;
        max-width: 43px !important;
    }