body {
  /* background: url(images/bg.jpg) rgba(0, 0, 0.3); */
  background-position: center;
  background-size: 120rem;
  background-repeat: no-repeat;
  background: #081c29;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

}

@media (max-width: 800px) {

  body {
    /* background: url(images/bg.jpg) rgba(0, 0, 0.3); */
    background-position: center;
    background-size: 60rem;
    background-repeat: no-repeat;
    width: 100%;
  height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }


}